<div id="login-page" ng-controller="loginCtrl">
    <div class="container">

        <!-- alert-info Modal 提示信息-->
        <div class="modal fade" id="loginTips" tabindex="-1" role="dialog" aria-labelledby="loginTipsLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="alert alert-success col-sm-8 icon-space fade in" id="loginAlert">
                        <strong><i class="icon glyphicon glyphicon-ok-circle" id="loginIcon"></i>{{msg}}</strong>
                    </div>
                </div>
            </div>
        </div>

        <form class="form-login">
            <h2 class="form-login-heading">登&nbsp&nbsp&nbsp&nbsp录</h2>
            <div class="login-wrap">
                <label for="inputUserName" class="sr-only">userName</label>
                <input type="text" id="inputUserName" class="form-control" placeholder="用户名" required autofocus>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="密码" ng-keyup="loginKeyup($event)" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 下次自动登录
                    </label>
                </div>
                <label class="checkbox">
                    <span class="pull-right">
                        <a data-toggle="modal" href="login.html#findPWD"> 忘记密码？</a>
                    </span>
                </label>
                <button class="btn btn-theme btn-block" type="button" data-toggle="modal"
                        data-target="#loginTips" ng-click="toSlidebar()"><i class="fa fa-lock"></i>
                    登&nbsp&nbsp录
                </button>
                <hr>

                <div class="registration">
                    还没有帐号？<br/>
                    <a data-toggle="modal" href="login.html#register">
                        立即注册
                    </a>
                </div>

            </div>
        </form>

        <!--findPassword Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="findPWD"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="checkMail" novalidate>
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">忘记密码？</h4>
                        </div>
                        <div class="modal-body">
                            <p>输入邮箱地址来找回密码</p>
                            <input type="email" name="mail" placeholder="邮箱地址" id="findMail" autofocus
                                   class="form-control placeholder-no-fix" ng-model="mail" required>
                            <span class="tips" ng-show="checkMail.mail.$dirty && checkMail.mail.$invalid">
                                <span ng-show="checkMail.mail.$error.required">邮箱不能为空！</span>
                                <span ng-show="checkMail.mail.$error.email">邮箱格式不正确！</span>
                            </span>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" type="button" data-dismiss="modal">取消</button>
                            <button class="btn btn-theme" type="submit" data-dismiss="modal"
                                    ng-disabled="checkMail.$invalid">确认
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- register Modal -->
        <div aria-hidden="true" aria-labelledby="signUpLabel" role="dialog" tabindex="-1" id="register"
             class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form name="register" class="showcase-form" novalidate id="registerForm">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close" ng-click="toReset()"><span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="signUpLabel">用户注册</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="control-label"><span class="tips">*</span>用户名</label>
                                <div>
                                    <input type="text" validate name="user" ng-model="user" id='registerName' method="check_name"
                                           ng-pattern="/^[A-Za-z]{1}[0-9A-Za-z_]{2,9}$/" placeholder="由字母、数字、下划线组成，以字母开头，3-10个字符"
                                           class="form-control placeholder-no-fix" required>
                                    <span class="tips" ng-show="register.user.$dirty && register.user.$invalid">
                                        <span ng-show="register.user.$error.required">用户名不能为空!</span>
                                        <span ng-show="register.user.$error.pattern">用户名格式不正确!</span>
                                        <span ng-show="register.user.$error.unique">用户名已存在!</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"><span class="tips">*</span>密码</label>
                                <div>
                                    <input type="password" name="password1" placeholder="6-20个字符"
                                           id='registerPwd' class="form-control placeholder-no-fix"
                                           ng-model='password1' ng-minlength="6" ng-maxlength="20" required>
                                    <span class="tips"
                                          ng-show="register.password1.$dirty && register.password1.$invalid">
                                        <span ng-show="register.password1.$error.required">密码不能为空!</span>
                                        <span ng-show="register.password1.$error.minlength">密码长度不能小于6个字符！</span>
                                        <span ng-show="register.password1.$error.maxlength">密码长度不能大于20个字符！</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"><span class="tips">*</span>确认密码</label>
                                <div>
                                    <input type="password" name="password2" placeholder="请再次输入密码"
                                           class="form-control placeholder-no-fix"
                                           ng-disabled="register.password1.$invalid"
                                           ng-model='password2' required>
                                    <span class="tips"
                                          ng-show="register.password2.$dirty && register.password2.$invalid">
                                        <span ng-show="register.password2.$error.required">请确认密码!</span>
                                        <span ng-show="register.password2.$invalid = (password1 != password2)">两次输入的密码不一致！</span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label"><span class="tips">*</span>邮箱</label>
                                <div>
                                    <input type="email" name="email" id='registerEmail' ng-model="email"
                                           placeholder="邮箱"
                                           class="form-control placeholder-no-fix" required>
                                    <span class="tips" ng-show="register.email.$dirty && register.email.$invalid">
                                        <span ng-show="register.email.$error.required">邮箱不能为空！</span>
                                        <span ng-show="register.email.$error.email">邮箱格式不正确！</span>
                                    </span>
                                </div>
                            </div>
                            <!--<p><span class="tips">*</span>用户名:</p>-->
                            <!--<input type="text" name="user" ng-model="user" id='registerName' class="form-control placeholder-no-fix" required autofocus>-->
                            <!--<span class="tips" ng-show="myForm.user.$dirty && myForm.user.$invalid"></span>-->
                            <!--<span ng-show="myForm.user.$error.required">用户名是必须的。</span>-->
                            <!--<p><span class="tips">*</span>密码:</p>-->
                            <!--<input type="password" name="password1" placeholder="请输入密码" autocomplete="off"-->
                            <!--id='registerPwd' class="form-control placeholder-no-fix" ng-model='firstInput' ng-minlength="6" ng-maxlength="20"   required>-->
                            <!--<span ng-show="myForm.password1.$error.minlength">密码最少6位</span>-->
                            <!--<span ng-show="myForm.password1.$error.maxlength">密码最长12位</span>-->
                            <!--<p><span class="tips">*</span>确认密码:</p>-->
                            <!--<input type="password" name="password2" placeholder="请再次密码" autocomplete="off"-->
                            <!--class="form-control placeholder-no-fix" ng-model='secondInput'  required>-->
                            <!--<span ng-show='firstInput != secondInput'>两次输入的密码不一样</span>-->
                            <!--<p><span class="tips">*</span>邮箱:</p>-->
                            <!--<input type="email" name="email" id='registerEmail' ng-model="email" class="form-control placeholder-no-fix" required>-->
                            <!--<span class="tips" ng-show="myForm.email.$dirty && myForm.email.$invalid"></span>-->
                            <!--<span ng-show="myForm.email.$error.required">邮箱是必须的。</span>-->
                            <!--<span ng-show="myForm.email.$error.email">非法的邮箱地址。</span>-->
                        </div>
                        <div class="modal-footer">
                            <!--<button data-dismiss="modal" class="btn btn-default" type="button">取消</button>-->
                            <button type="submit" ng-disabled="register.user.$invalid || register.password1.$invalid || register.password2.$invalid || register.email.$invalid" data-dismiss="modal"
                                    class="btn btn-theme btn-block" ng-click="toRegister()" data-toggle="modal"
                                    data-target="#loginTips">注&nbsp&nbsp册
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
